<div class="home">
  <header>
    <h1>Sleepy</h1>
  </header>
  <br style="clear: both;">
  <div class="divider animated fadeInLeft"></div>
  <a href="#/wanns"><h2 class="animated fadeInRight">Ich weiss wann ich
    <br>
    schlafen gehe</h2></a>
  <div class="divider animated fadeInLeft"></div>
  <h2 class="animated fadeInRight">Ich weiss wann ich
    <br>
    aufwachen muss</h2>
  <div class="divider animated fadeInLeft"></div>
  <h2 class="animated fadeInRight">Was steckt hinter
    <br>
    dieser App?</h2>
  <div class="divider animated fadeInLeft"></div>
  <h2 class="animated fadeInRight">Von wem ist diese App?
  </h2>
  <div class="divider animated fadeInLeft"></div>
</div>
