@import url(https://fonts.googleapis.com/css?family=Raleway:500,300,900);


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


div {
	color: white;
}


.home {
  background-color: #0B58BD;
  height: 100vh;
  width: 100vw;
}
.wann {
  background-color: #143F77;
}
.dann {
  background-color: #0A203C;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: white;
  float: right;
  font-size: 7vw;
  padding: 20px 30px;
}
 h2 {
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   color: white;
   text-align: center;
   font-size: 6vw;
   padding-bottom: 10px;

 }
 h3 {
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   text-align: center;
   margin-top: 40px;
   color: white;
   font-weight: 500;
 }
.divider {
  height: 1px;
  width: 80vw;
  margin: auto;
  background-color: white;
  opacity: 0.2;
  margin-top: 15px;
  margin-bottom: 20px;
}

.one {
  margin-top: 4%;
}
